<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>listProduct</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderItemAddSevlet</servlet-name>
        <servlet-class>servlet.OrderItemAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderItemAddSevlet</servlet-name>
        <url-pattern>/addOrderItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderItemListServlet</servlet-name>
        <servlet-class>servlet.OrderItemListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderItemListServlet</servlet-name>
        <url-pattern>/listOrderItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderItemDeleteServlet</servlet-name>
        <servlet-class>servlet.OrderItemDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderItemDeleteServlet</servlet-name>
        <url-pattern>/deleteOrderItem</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>OrderCreateServlet</servlet-name>
        <servlet-class>servlet.OrderCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrderCreateServlet</servlet-name>
        <url-pattern>/createOrder</url-pattern>
    </servlet-mapping>
</web-app>
